Processing/Pipelines/pl_bronze.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "ExcelSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": false,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Excel",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "Metadados",
                "fileName": "Orquestrador.xlsx"
              },
              "sheetName": "Bronze",
              "firstRowAsHeader": true
            },
            "schema": [],
            "linkedService": {
              "name": "lh_bronze",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "883a02f7-ff21-9820-49eb-271098365e8e",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Orquestrador",
        "description": "Ler planilha Excel com metadados de orquestração do pipeline referentes a camada bronze",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": false,
          "items": {
            "value": "@activity('Orquestrador').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "ffe0d40f-ccc3-9c5e-40e2-35bb08113b7f",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "source_storage": {
                    "value": {
                      "value": "@item().SourceStorage",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "source_folder": {
                    "value": {
                      "value": "@item().SourceFolder",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "source_file": {
                    "value": {
                      "value": "@item().SourceFile",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "target_storage": {
                    "value": {
                      "value": "@item().TargetStorage",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "target_table": {
                    "value": {
                      "value": "@item().TargetTable",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "target_mode": {
                    "value": {
                      "value": "@item().TargetMode",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                },
                "sessionTag": "BronzeSession"
              },
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "bronze",
              "description": "Lê os dados  de arquivo Parquet e cria a tabela delta na camada Bronze",
              "dependsOn": []
            }
          ]
        },
        "name": "Iterador",
        "description": "Copiar os arquivos  parquet da pasta  Staging  para direcionar ao Notebook ",
        "dependsOn": [
          {
            "activity": "Orquestrador",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}